version: "3.9"

services:
  nginx:
      build:
        context: .
        dockerfile: nginx/Dockerfile
      container_name: nginx
      ports:
          - "80:80"
      depends_on:
          - app

  app:
    build:
        context: .
        dockerfile: app/Dockerfile
    container_name: app
    ports:
      - "8080:5000"
    depends_on:
      - redis
      - db

  redis:
    image: redis:latest
    container_name: redis
    restart: always
    ports:
      - "6379:6379"

  db:
    build:
        context: .
        dockerfile: postgres/Dockerfile
    container_name: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

    volumes:
      - pg-data:/var/lib/postgresql/data


volumes:
  pg-data:
